@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        margin: 0 auto;
        max-width: 1350px;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Vítejte v naší Zoo</h1>
    <p>Na této webové stránce se můžete dozvědět důležité informace ohledně chovaných druzích a pavilonech</p>
    <p>Stejně tak zde můžete nalézt otevírací dobu nebo třeba ceník</p>
    <p>Přejeme příjemný pobyt na této stranáce</p>
    <h3>Vaše Zoo</h3>
</div>
