<link rel="stylesheet" href="/css/OpeningHours.css"/>

<h1>Otevírací doba</h1>
<div class="table">
    <table>
        <th>Den</th>
        <th>Hodiny</th>
        <tr>
            <td>Pondělí</td>
            <td>8-18</td>
        </tr>
         <tr>
            <td>Úterý</td>
            <td>8-18</td>
        </tr>
         <tr>
            <td>Středa</td>
            <td>8-18</td>
        </tr>
         <tr>
            <td>Čtvrtek</td>
            <td>8-18</td>
        </tr>
         <tr>
            <td>Pátek</td>
            <td>8-20</td>
        </tr>
         <tr>
            <td>Sobota</td>
            <td>8-20</td>
        </tr>
         <tr>
            <td>Neděle</td>
            <td>Zavřeno</td>
        </tr>
    </table>
</div>