<link rel="stylesheet" href="/css/Pricing.css"/>

<h1>Ceník</h1>
<div class="table">
    <table>
    <th>Popis</th>
    <th>Cena</th>
    <tr>
        <td>Plné vstupné</td>
        <td>200</td>
    </tr>
    <tr>
        <td>Dětské vstupné</td>
        <td>50</td>
    </tr>
    <tr>
        <td>Děti do 6 let</td>
        <td>Zdarma</td>
    </tr>
    <tr>
        <td>Lidé nad 65 let</td>
        <td>50</td>
    </tr>
</table>
</div>