body {
    margin: 0 auto;
    max-width: 1200px;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
}

.table {
    min-width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.tables {
    margin: 0 auto;
}

table{
    width: 100%;
}

#animals_in_pavilon{
    overflow: auto;
    display:flex;
    flex-direction:column;
}

#animals_in_type {
    overflow: auto;
    display: flex;
    flex-direction: row;
}

h3{
    text-align:center;
    color:red;
}

.action{
    display:flex;
    flex-direction:row;
}