body {
    margin: 0 auto;
    max-width: 1350px;
}

.animal_types {
    display: flex;
    gap: 25px;
    flex-wrap:wrap;
}

.type {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 15px;
    width: 270px;
    height: 200px;
}

h1, h3, p{
    text-align:center;
}

p{
    margin-bottom:0;
}
